<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cc.demo" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.cc.demo.DemoApplication" >

        <activity
            android:name="com.cc.demo.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- remote service -->
        <!-- android:process ensures that the service runs in a different process,
             named "remote_process", different from the app process which by default
             gets the name of the package, "com.cc.demo" -->
        <service android:name="com.cc.demo.services.RemoteService"
            android:process=":remote_process"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.cc.RemoteService" />
            </intent-filter>
        </service>

        <!-- local service -->
        <service android:name="com.cc.demo.services.LocalService" />

    </application>

</manifest>
